<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>HAWT POTATER ONLINE!</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				HAWT POTATER ONLINE!
			</h1>

	</header>

	<section>
		<div class="homesection">
            <a title="Create" href="/create" id="create">
                <div id="createbutton">
                    <div class="big">Create a Game!</div>
                </div>
            </a>
=======
			<div class="playerNotes">
				<p>
					Hey, listen! ~~
				</p>
				<p>
					This is a multiplayer game! You can play it as a single player but it won't be as enjoyable. :(
				</p>
				<p>
					The room master will have the screen so all other players will have to look at their screen, however, each other player will use their own laptop. 
				</p>
				<p>
					Enjoy the game! - Hawt POTATERSSSSSSSS
				</p>
			</div>
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div class="big">Create a Game!</div>
				</div>
			</a>
			<div title="Join" id="join">
				<div id="joinbutton">
					<div class="big">Join a Game!</div>
					<span class="small">Click a room number to join.</span>
				</div>
			<div id="joinGameList">
				<div>
					<div class="joinInfo joinNumber">Room Number</div>
					<div class="joinInfo joinSize">Size</div>
					<div class="joinInfo joinStatus">Status</div>
				</div>
				<div id="gameListContainer"></div>
			</div>
			</div>
		</div>
	</section>

	<script src="../js/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/home.js"></script>
</body>
</html>
