<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>HAWT POTATER ONLINE!</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				HAWT POTATER ONLINE!
			</h1>

	</header>

	<section>
		<div class="homesection">
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="big">Create a Game!</div>
				</div>
			</a>
			<a title="Join" href="/join" id="join">
				<div id="joinbutton">
					<div id="big">Join a Game!</div>
				</div>
			</a>
		</div>
	</section>
</body>
</html>
